:root {
    --primaryColor: #373B44;
    --secondaryColor: #4a4e58;
    --textSecondary: grey;
    --scrollColor: #b3b6bb;
    --scrollBGColor: rgb(236, 229, 229);
    --scrollBorderColor: #6e6f70;
    --bannerTextSecondaryColor: #595f6d;
    --skillBGColor: white;
    --skillColor: var(--primaryColor);
    --skillProgressBarBorderColor: #1d8997;
    --navBarHeight: 3rem;
    --LogoBorderColor: #3f3f72;
    --footerHeight: 2.6rem;
}

html {
    scroll-behavior: smooth;
    /* font-size: 14px; */
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollBGColor);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollColor);
    border-radius: 15px;

}

a {
    text-decoration: none;
}

/* Global page layout*/
.box {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    background: white;
    border-radius: 5px;
    min-width: 100%;
    min-height: 100vh;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    display: block;
}